/*
box-shadow: 0px 0px 2px 1px oklch(0.35 0.0 0); offset-x¦y  blur¦spread-radii
*/
/* @settings
name: Densy Theme
id  : densy-theme
collapsed: false
settings:
  - id           	: densy-tab
    title        	: Tabs
    type         	: heading
    level        	: 3
    collapsed    	: true
  - id           	: tab-background-active
    title        	: 'Tab: Active Background Color'
    type         	: variable-themed-color
    opacity      	: true
    format       	: rgb
    default-light	: '#ffe798'
    default-dark 	: '#ffe798'
  - id           	: tab-background-hover
    title        	: 'Tab: Hovere Background Color'
    type         	: variable-themed-color
    opacity      	: true
    format       	: rgb
    default-light	: '#fceec1'
    default-dark 	: '#fceec1'

  - id       	: densy-hide
    title    	: Hide UI elements
    type     	: heading
    level    	: 3
    collapsed	: true
  - id       	: densy-ui-hide-tab-close-btn
    title    	: 'UI: Tab Close button ×'
    type     	: variable-select
    default  	: none
    options  	:
      - none
      - flex
  - id     	: densy-ui-hide-btn
    title  	: 'UI: Hide new tab +'
    type   	: variable-select
    default	: none
    options	:
      - none
      - flex
*/

/* @settings
name: Densy Theme Variables
id  : densy-theme-var
collapsed: true
settings:
  - id       	: densy≝vars
    title    	: Override default theme CSS variables
    type     	: heading
    level    	: 3
    collapsed	: true
  - id       	: densy≝vars-size
    title    	: Layout sizing — for padding and margins
    type     	: heading
    level    	: 4
    collapsed	: true
  - id       	: size-2-1
    title    	: 'size-2-1  ≝ 2px'
    type     	: variable-number
    default  	:  0
    format   	: px
  - id       	: size-2-2
    title    	: 'size-2-2  ≝ 4px'
    type     	: variable-number
    default  	:  1
    format   	: px
  - id       	: size-2-3
    title    	: 'size-2-3  ≝ 6px'
    type     	: variable-number
    default  	:  2
    format   	: px
  - id       	: size-4-1
    title    	: 'size-4-1  ≝ 4px'
    type     	: variable-number
    default  	:  3
    format   	: px
  - id       	: size-4-2
    title    	: 'size-4-2  ≝ 8px'
    type     	: variable-number
    default  	:  4
    format   	: px
  - id       	: size-4-3
    title    	: 'size-4-3  ≝12px'
    type     	: variable-number
    default  	:  6
    format   	: px
  - id       	: size-4-4
    title    	: 'size-4-4  ≝16px'
    type     	: variable-number
    default  	:  8
    format   	: px
  - id       	: size-4-5
    title    	: 'size-4-5  ≝20px'
    type     	: variable-number
    default  	: 10
    format   	: px
  - id       	: size-4-6
    title    	: 'size-4-6  ≝24px'
    type     	: variable-number
    default  	: 12
    format   	: px
  - id       	: size-4-8
    title    	: 'size-4-8  ≝32px'
    type     	: variable-number
    default  	: 14
    format   	: px
  - id       	: size-4-9
    title    	: 'size-4-9  ≝36px'
    type     	: variable-number
    default  	: 18
    format   	: px
  - id       	: size-4-10
    title    	: 'size-4-10 ≝40px'
    type     	: variable-number
    default  	: 20
    format   	: px
  - id       	: size-4-12
    title    	: 'size-4-12 ≝48px'
    type     	: variable-number
    default  	: 24
    format   	: px
  - id       	: size-4-16
    title    	: 'size-4-16 ≝64px'
    type     	: variable-number
    default  	: 32
    format   	: px
  - id       	: size-4-18
    title    	: 'size-4-18 ≝72px'
    type     	: variable-number
    default  	: 36
    format   	: px
*/

body.is-mobile {
  --file-margins-x: var(--size-2-1);
  --file-margins-y: var(--size-2-1);
  /*--size-4-6: 0px;*/
  /*--size-4-8: 0px;*/
}
body {
  /* UI font sizes */
  /*--font-ui-smaller	: 12px;*/
  /*--font-ui-small  	: 13px;*/
  /*--font-ui-medium 	: 15px;*/
  /*--font-ui-large  	: 20px;*/

  --anim-duration-superfast	:  30ms;
  --anim-duration-fast     	:  70ms;
  --anim-duration-moderate 	: 140ms;
  --anim-duration-slow     	: 340ms;
  --anim-motion-smooth: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  --anim-motion-delay: cubic-bezier(0.65, 0.05, 0.36, 1);
  --anim-motion-jumpy: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --anim-motion-swing: cubic-bezier(0, 0.55, 0.45, 1);

  --table-selection-border-radius: 0px; /*4*/

  /* Bases */
  --bases-header-border-width: 0 0 var(--border-width) 0;
  --bases-header-height: 20px;
  --bases-header-padding-start: 1px;
  --bases-header-padding-end  : 1px;
  --bases-toolbar-label-display: block;
  --bases-filter-menu-width: 520px;
  --bases-group-heading-property-size: var(--font-ui-smaller);
  --bases-group-heading-property-weight: var(--font-normal);
  --bases-group-heading-property-color: var(--text-muted);
  --bases-group-heading-value-size: var(--font-smaller);
  --bases-group-heading-value-weight: var(--font-semibold);
  --bases-group-heading-property-display: block;
  --bases-table-container-border-width: var(--border-width);
  --bases-table-container-border-radius: var(--radius-s);
  --bases-table-group-background: var(--background-primary-alt);
  --bases-table-header-weight: var(--font-weight);
  --bases-table-header-color: var(--text-muted);
  --bases-table-header-icon-display: flex;
  --bases-table-header-background: var(--background-primary);
  --bases-table-header-background-hover: var(--background-modifier-hover);
  --bases-table-header-sort-mask: linear-gradient(to left, transparent var(--size-4-6), black var(--size-4-6));
  --bases-table-summary-background: var(--background-primary);
  --bases-table-summary-background-hover: var(--background-modifier-hover);
  --bases-table-border-color: var(--table-border-color);
  --bases-table-column-border-width: var(--border-width);
  --bases-table-group-gap: 10px;
  --bases-table-row-border-width: var(--border-width);
  --bases-table-row-background-hover: var(--table-row-background-hover);
  --bases-table-row-height: 30px;
  --bases-table-font-size: var(--font-smaller);
  --bases-table-column-max-width: 300;
  --bases-table-column-min-width: 40;
  --bases-table-cell-radius-active: 2px;
  --bases-table-cell-shadow-active: 0 0 0 2px var(--background-modifier-border-focus);
  --bases-table-cell-radius-focus: 2px;
  --bases-table-cell-shadow-focus: 0 0 0 2px var(--interactive-accent);
  --bases-table-cell-background-active: var(--background-primary);
  --bases-table-cell-background-disabled: var(--background-primary-alt);
  --bases-table-cell-background-selected: var(--table-selection);
  --bases-cards-container-background: transparent;
  --bases-cards-background: var(--background-primary);
  --bases-cards-cover-background: var(--background-primary-alt);
  --bases-cards-scale: 1;
  --bases-cards-line-height: 24px;
  --bases-cards-border-width: var(--border-width);
  --bases-cards-shadow: 0 0 0 1px var(--background-modifier-border);
  --bases-cards-shadow-hover: 0 0 0 1px var(--background-modifier-border-hover);
  --bases-cards-font-size: var(--font-smaller);
  /* Blockquotes */
  --blockquote-border-thickness: 1px;
  /*--blockquote-border-color: var(--interactive-accent);*/
  /*--blockquote-font-style: normal;*/
  /*--blockquote-color: inherit;*/
  /*--blockquote-background-color: transparent;*/

  /* Inputs */
  --input-height              	: 24px;
  --input-padding             	: var(--size-2-1) var(--size-2-2);
  --input-radius              	: 1px;

  /* Layout sizing - for padding and margins */
  --size-2-1 :  0px;
  --size-2-2 :  1px;
  --size-2-3 :  2px;
  --size-4-1 :  3px;
  --size-4-2 :  4px;
  --size-4-3 :  6px;
  --size-4-4 :  8px;
  --size-4-5 : 10px;
  --size-4-6 : 12px;
  --size-4-8 : 14px;
  --size-4-9 : 18px;
  --size-4-10: 20px;
  --size-4-12: 24px;
  --size-4-16: 32px;
  --size-4-18: 36px;
  /* Sidebar */
  --sidebar-markdown-font-size: calc(var(--font-text-size) * 0.9);
  --sidebar-tab-text-display             	: none;
  --sidebar-left-toggle-inner-width      	: 8.33%;
  --sidebar-right-toggle-inner-width     	: 8.33%;
  --sidebar-left-toggle-inner-width-open 	: 24%;
  --sidebar-right-toggle-inner-width-open	: 24%;

  /* Ribbon */
  /*--ribbon-background: var(--background-secondary);*/
  /*--ribbon-background-collapsed: var(--background-primary);*/
  --ribbon-width: 26px;
  --ribbon-padding: var(--size-2-3) 0px 0px 0px;

  /* Icons */
  --icon-l: 22px;
  --icon-l-stroke-width: 1.5px;

  /* File layout */
  --header-height: 24px;
  --file-line-width: 1400px;
  /*--file-folding-offset: 24px;*/
  --file-margins: var(--file-margins-y) var(--file-margins-x);
  --file-margins-x: var(--size-2-3);
  --file-margins-y: var(--size-2-3);
  /*--file-header-font: var(--font-interface);*/
  --file-header-font-size: var(--font-ui-medium);
  /*--file-header-font-weight: 400;*/
  /*--file-header-background: var(--background-primary);*/
  /*--file-header-background-focused: var(--background-primary);*/
  /*--file-header-border: var(--border-width) solid transparent;*/
  /*--file-header-justify: center;*/

  /* Tabs */
  /*--tab-background-active                	: oklch(0.913 0.034 246.806);*/ /*blueish*/
  --tab-background-active                  	: oklch(0.93 0.101 92.963); /*~gold #ffe798*/
  --background-tab-hover                   	: oklch(0.95 0.061 92.963); /*~goldish #fceec1*/
  /*--tab-text-color                       	: var(--text-faint);*/
  /*--tab-text-color-active                	: var(--text-muted);*/
  /*--tab-text-color-focused               	: var(--text-muted);*/
  /*--tab-text-color-focused-active        	: var(--text-muted);*/
  /*--tab-text-color-focused-highlighted   	: var(--text-accent);*/
  /*--tab-text-color-focused-active-current	: var(--text-normal);*/
  --tab-font-size: var(--font-ui-medium);
  /*--tab-font-weight: inherit;*/
  /*--tab-container-background: var(--background-secondary);*/
  /*--tab-divider-color: var(--background-modifier-border-hover);*/
  /*--tab-outline-color: var(--divider-color);*/
  /*--tab-outline-width: 1px;*/
  --tab-curve: 3px;
  /*--tab-radius: var(--radius-s);*/
  --tab-radius-active: 4px 4px 0 0;
  --tab-width: 120px;
  /*--tab-max-width: 320px;*/

  /* Inline title */
  --inline-title-color      	: var(--h3-color      	);
  --inline-title-font       	: var(--h3-font       	);
  --inline-title-line-height	: var(--h3-line-height	);
  --inline-title-size       	: var(--h3-size       	);
  --inline-title-style      	: var(--h3-style      	);
  --inline-title-variant    	: var(--h3-variant    	);
  --inline-title-weight     	: var(--h3-weight     	);
  --inline-title-margin-bottom: 0em;

  /* Radiuses */
  --radius-s: 1px;
  --radius-m: 2px;
  --radius-l: 4px;
  --radius-xl:8px;
  /* Text */
  /*L perceived Lightness 0–1   C Chroma from gray to the most saturated  H hue 0–360  a opacity 0–1*/
  --text-normal: var(--color-base-100);
  --text-muted: oklch(0.22 0 0);
  --text-faint: oklch(0.60 0 0);


  /* File navigator */
  --nav-item-size  	: var(--font-normal);
  --nav-item-radius	: var(--radius-s   );
  --nav-item-color 	: var(--text-muted );
  --nav-item-background-selected: hsla(var(--color-accent-hsl), 0.15);
  --nav-item-padding: var(--size-4-2) 0px var(--size-4-2) 0px;
  --nav-item-parent-padding: 0px;
  --nav-item-margin-bottom: var(--size-2-1);
  /*--nav-item-children-padding-start: var(--size-2-2);*/
  /*--nav-item-children-margin-start: var(--size-4-3);*/
  /*--nav-tag-radius: var(--radius-s);*/
  /*--nav-tag-color: var(--text-faint);*/
  /*--nav-tag-color-hover: var(--text-muted);*/
  /*--nav-tag-color-active: var(--text-muted);*/
  /*--nav-tag-weight: var(--font-semibold);*/
  --nav-collapse-icon-color: var(--collapse-icon-color);
  --nav-collapse-icon-color-collapsed: var(--text-muted);
  /* Collapse icons */
  --collapse-icon-color: var(--text-muted);
  --collapse-icon-color-collapsed: var(--text-accent);


  /* Metadata */
  --metadata-padding: 0;
  --metadata-gap    : 1px;
/*  --metadata-background: transparent;
  --metadata-display-reading: block;
  --metadata-display-editing: block;
  --metadata-max-width: none;
  --metadata-border-color: var(--background-modifier-border);
  --metadata-border-radius: 0;
  --metadata-border-width: 0;
  --metadata-divider-color: var(--background-modifier-border);
  --metadata-divider-color-hover: transparent;
  --metadata-divider-color-focus: transparent;
  --metadata-divider-width: 0;*/

  /* Backgrounds */
  /*--background-primary              	: var(--color-base-00);*/
  /*--background-primary-alt          	: var(--color-base-10);*/
  /*--background-secondary            	: var(--color-base-20);*/
  /*--background-modifier-hover       	: rgba(var(--mono-rgb-100), 0.067);*/
  /*--background-modifier-active-hover	: hsla(var(--interactive-accent-hsl), 0.1);*/
  /*--background-modifier-border      	: var(--color-base-30);*/
  /*--background-modifier-border-hover	: var(--color-base-35);*/
  /*--background-modifier-border-focus	: var(--color-base-40);*/

}


/*‹Side dock left*/
.side-dock-settings,
.side-dock-actions {
  gap: var(--size-4-4);
}
.workspace-drawer-ribbon .side-dock-actions {
  padding: var(--size-4-2) 0;
}

/*clickable-icon side-dock-ribbon-action*/
.workspace-drawer-ribbon .side-dock-ribbon-action {
  padding: 0;
}
.side-dock-settings .side-dock-ribbon-action,
.side-dock-actions .side-dock-ribbon-action {
  margin: 0;
}

/*↑Titlebar*/
body > div.titlebar > div > div.titlebar-button-container.mod-right {
  display: none;
  margin : 0px;
  padding: 0px;
}
/*.workspace-tab-header-container:after {
}
*/
.workspace-tab-header.tappable.is-active.mod-active { /*active tab shadow*/
  box-shadow: 0px 0px 2px 1px oklch(0.35 0.0 0); /*offset-x¦y  blur¦spread-radii*/
  clip-path : inset(0px -5px 0px -5px);
  /* pos/left tobring element out from edge of parent so that shadow can be seen = margin-left*/
  /*position: relative;*/
  /*left: 15px;*/
}
@media (hover: hover) {
  .workspace-tab-header-container .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
    background-color: var(--background-tab-hover);
  }
}

/*Remove window controls*/
.is-hidden-frameless:not(.is-fullscreen):not(.mod-macos) .workspace-tabs.mod-top-right-space .workspace-tab-header-container:after {
  display: none;
}
.is-hidden-frameless:not(.is-fullscreen) .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
  padding-right: var(--size-4-2);
}
.workspace-tab-header-inner-close-button {
  display: var(--densy-ui-hide-tab-close-btn) !important;
}
.workspace-tab-header-new-tab {
  display: var(--densy-ui-hide-btn) !important;
}
.workspace-tab-header-container,
.workspace-tab-header-container-inner {
  /*margin-top : 0px !important;*/
  /*padding-top: 0px !important;*/
  padding: 0px 0px 0px 0px !important;
  margin : 0px 0px 0px 0px !important;
}
/*Tab label*/
.workspace-tab-header {
  padding: 0px 0px 0px 0px !important;
  margin : 0px 0px 0px 0px !important;
}
.workspace-tab-header-inner {
  padding: 0px 0px 0px 1px !important;
  margin : 0px 0px 0px 1px !important;
}
.workspace-tab-header-inner-title {
  text-overflow: clip !important;
  color: black;
/*  flex: 1 1 auto;
  font-size  : var(--tab-font-size);
  font-weight: var(--tab-font-weight);
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;*/
}

.view-header-title-container {
  /*font-family: var(--file-header-font);*/
  /*font-size  : var(--file-header-font-size);*/
}

/*body > div.app-container > div.horizontal-main-container > div > div.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed > div.side-dock-actions > * {
  margin : 0px 0px 6px 0px;
  padding: 0px;
}
*/
/*TBD can't design with CSS, so fix manually, not dynamic
https://forum.obsidian.md/t/expose-sidebar-widths-through-css-variables/51649/3
*/
.workspace-split.mod-horizontal.mod-sidedock.mod-left-split {
  max-width: 180px;
}
.tree-item.nav-file {
  /*margin-inline-start :  0px !important;*/
  /*padding-inline-start:  0px !important;*/
  /*margin : 0px !important;*/
  /*padding: 0px !important;*/
}
.tree-item-self .tree-item-icon {
  margin-inline-start: calc(-1 * var(--size-4-3));
  width: var(--size-4-4);
  color: red;
}
.tree-item-self {
  /*align-items: baseline;*/
  /*display: flex;*/
  /*border-radius: var(--nav-item-radius);*/
  /*color: var(--nav-item-color);*/
  /*font-size: var(--nav-item-size);*/
  /*line-height: var(--line-height-tight);*/
  /*font-weight: var(--nav-item-weight);*/
  /*margin-bottom: var(--nav-item-margin-bottom);*/
  /*padding: var(--nav-item-padding);*/
  /*position: relative;*/
}
/*Left collapsible file panel*/
.workspace-drawer-active-tab-container .workspace-drawer-active-tab-content .nav-files-container {
  /*padding-top: var(--size-4-2);*/
}
.nav-header {
  padding: var(--size-4-1) 0px var(--size-4-1) 0px;
}
.nav-files-container {
  /*display: none;*/
  /*flex-grow: 1;*/
  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
  /*padding: var(--size-4-1) var(--size-4-3) var(--size-4-6) var(--size-4-3);*/
  /*padding-bottom: max(var(--safe-area-inset-bottom), var(--size-4-6));*/
  /*scroll-padding-block: var(--size-4-2);*/
}

/*input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: var(--checkbox-radius);
  border: 1px solid var(--checkbox-border-color);
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  margin-inline-end: 16px;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  position: relative;
  transition: box-shadow 0.15s ease-in-out;
}*/


/* Main Note View */
.metadata-container {
  margin-block-end: 0rem;
  /*--input-height: var(--metadata-input-height);*/
/*  border-radius: var(--metadata-border-radius);
  background-color: var(--metadata-background);
  border-color: var(--metadata-border-color);
  border-style: solid;
  border-width: var(--metadata-border-width);
  padding: var(--metadata-padding);
  color: var(--text-muted);
  position: relative;
  max-width: var(--metadata-max-width);*/
}
.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
  max-width   : var(--file-line-width);
  margin-left : auto;
  margin-right: auto;
}

.setting-group .setting-item {
  border-top: none;
  margin : 0px !important;
  padding: 0px !important;
}
.setting-item {
  margin-bottom: var(--size-2-2);
  padding      : var(--size-2-2) var(--size-2-1) var(--size-2-2) var(--size-2-1);
  row-gap: var(--size-2-1);
}
.setting-item-control {
  padding-top: var(--size-2-2) !important;
  /*gap: var(--size-2-2);*/

}
.setting-hotkey {
  padding: 0px 0px 0px 4px;
}


/*Search bar*/
.search-row {
  margin: 0px 0px 0px 0px;
}
.search-input-container.global-search-input-container > input[type=search] {
  padding-inline-start: 0px;
  padding-inline-end  : 0px;
  margin : 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /*font-size: 14px;*/
}
.search-input-clear-button,
.search-input-container.global-search-input-container::before {
  display: none;
}
.input-right-decorator.clickable-icon {
  inset-inline-end: 0px !important;
}
textarea,.multi-select-container,
input.metadata-input-text,
input[type='date'  ],input[type='datetime-local'],
input[type='text'  ],input[type='search'        ],
input[type='email' ],input[type='password'      ],
input[type='number'] {
  /*background   	: var(--background-modifier-form-field);*/
  /*border       	: var(--input-border-width) solid var(--background-modifier-border);*/
  /*color        	: var(--text-normal);*/
  /*padding      	: var(--input-padding);*/
  font-size      	: var(--font-ui-medium);
  /*border-radius	: var(--input-radius);*/
}